<%= form_for(@alias, :url => { :action => :destroy }, :html => { :method => :delete }) do |f| %>
    <%= render partial: 'sign', locals: {type: 'danger', text: "Are you sure you want to delete the alias '#{@alias.uid}'?" } %>
    <%= link_to 'No', :back, class: "btn btn-lg btn-primary" %>
    <%= f.submit value: "Yes »", class: "btn btn-lg btn-danger" %>
<% end %>
