<table class="table table-striped">
<tr>
    <th>UID</th>
    <th>To</th>
</tr>
<% @aliases.each do |a| %>
    <% forwardTo = Account.find(a.forwardTo).uid %>
    <tr>
    <td><%= link_to a.uid, a, title: a.uid %></td>
    <td><%= link_to forwardTo, account_path(forwardTo), title: forwardTo %></td>
    </tr>
<% end %>
</table>
<%= link_to 'New Alias', new_alias_path, class: "btn btn-lg btn-primary btn-success" %>
