<% if @alias.errors.any? %>
    <%= render partial: 'sign', locals: {type: 'danger', text: @alias.errors.full_messages.to_sentence }%>
<% end %>
<%= render partial: 'panelstart', locals: {title: 'New Alias', type: "success" }%>
<%= form_for :alias, url: aliases_path do |a| %>
<tr>
    <td><%= a.label :uid, class: "sr-only" %></td>
    <td><%= a.text_field :uid, class: "form-control", placeholder: "Alias", required: true %></td>
</tr>
<tr>
   <td><%= a.label :forwardTo %></td>
   <td><%= a.select :forwardTo, options_for_select(Account.all.collect {|account| [account.uid]}), { include_hidden: false }, :multiple => false, class: "form-control", required: true %></td>
</tr>
<%= render partial: 'panelend'%>
<%= a.submit value: "Add Alias", class: "btn btn-lg btn-primary btn-success" %>
<% end %>
