<%= form_for(@group, :url => { :action => :groupleft }, :html => { :method => :delete }) do |f| %>
    <%= render partial: 'sign', locals: {type: 'danger', text: "Are you sure you want to leave the group '#{@group.cn}'?" } %>
    <%= link_to 'No', :back, class: "btn btn-lg btn-primary" %>
    <%= f.submit value: "Yes »", class: "btn btn-lg btn-danger" %>
<% end %>
