<div class="container">

<%= form_tag('/login', class: "form-signin") do %>
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="account" class="sr-only">Account</label>
    <%= text_field_tag :account, nil, class: "form-control", placeholder: "Account", required: true, autofocus: true %>
    <label for="password" class="sr-only">Password</label>
    <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password", required: true %>
    <%= submit_tag("Sign in", class: "btn btn-lg btn-primary btn-block") %>

<% end %>

</div>
