<% if @group.errors.any? %>
    <%= render partial: 'sign', locals: {type: 'danger', text: @group.errors.full_messages.to_sentence }%>
<% end %>
<%= render partial: 'panelstart', locals: {title: @group.dn, type: "info" }%>
<%= form_for :group, url: group_path(@group.dn), method: :patch do |g| %>
<tr>
   <td><%= g.label :cn %></td>
   <td><%= @group.cn %><%= g.hidden_field :cn, :value => @group.cn %></td>
</tr>
<tr>
   <td><%= g.label :description %></td>
   <td><%= g.text_field :description, class: "form-control", placeholder: "Group Description" %></td>
</tr>
<tr>
   <td><%= g.label :members %></td>
   <td><%= g.select :members, options_for_select(Account.all.collect {|account| [account.uid]}, @group.members.collect {|member| member.uid}), { include_hidden: false }, :multiple => true, class: "form-control", required: true %></td>
</tr>
<%= render partial: 'panelend'%>
<%= g.submit value: "Update Group", class: "btn btn-lg btn-primary" %>
<% end %>
