<table class="table table-striped">
<tr>
    <th>Groupname</th>
    <th>Group Description</th>
    <th>Members</th>
</tr>
<% @groups.each do |g| %>
    <tr>
    <td><%= link_to g.cn, group_path(g.dn), title: g.dn %></td>
    <td><%= g.description %></td>
    <td><% g.members.each do |a| %> <%= link_to a.uid, account_path(a.dn), title: a.dn %><% end %></td>
    </tr>
<% end %>
</table>
<%= link_to 'New Group', new_group_path, class: "btn btn-lg btn-primary btn-success" %>
<% if params[:count].to_i > 50 %>
    <%= link_to 'Previous 50', groups_path(:count => params[:count].to_i-50), class: "btn btn-lg btn-primary" %>
<% end %>
<% if @groups.length == 50 %>
<%= link_to 'Next 50', groups_path(:count => params[:count].to_i+50), class: "btn btn-lg btn-primary" %>
<% end %>
