<% if @group.errors.any? %>
    <%= render partial: 'sign', locals: {type: 'danger', text: @group.errors.full_messages.to_sentence }%>
<% end %>
<%= render partial: 'panelstart', locals: {title: 'New Group', type: "success" }%>
<%= form_for :group, url: groups_path do |g| %>
<tr>
    <td><%= g.label :cn %></td>
    <td><%= g.text_field :cn, class: "form-control", placeholder: "Groupname", required: true %></td>
</tr>
<tr>
    <td><%= g.label :description %></td>
    <td><%= g.text_field :description, class: "form-control", placeholder: "Group Description" %></td>
</tr>
<tr>
    <td><%= g.label :members %></td>
    <td><%= g.select :members, Account.all.collect {|account| [account.uid]}, { include_hidden: false }, :multiple => true, class: "form-control", required: true %></td>
</tr>
<%= render partial: 'panelend'%>
<%= g.submit value: "Add Group", class: "btn btn-lg btn-primary btn-success" %>
<% end %>
