<div class="panel panel-<%= type %>">
<div class="panel-heading">
    <h3 class="panel-title"> <%= title %> </h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
                <tbody>
