<% if current_user_admin %>
<%= render partial: 'panelstart', locals: {title: @account.dn, type: "info" }%>
<% else %>
<%= render partial: 'panelstart', locals: {title: @account.uid, type: "info" }%>
<% end %>
<tr>
    <td>Account</td>
    <td><%= @account.uid %></td>
</tr>
<tr>
    <td>Groups</td>
    <td><% @account.groups.each do |g| %>
        <% if current_user_admin %>
            <%= link_to g.cn, group_path(g), title: g.description %>
        <% else %>
            <%= link_to g.cn, group_profile_path(g), title: g.description %>
        <% end %>
    <% end %></td>
</tr>
<% if current_user_admin %>
<tr>
    <td>creatorsName</td>
    <td><%= @account.creatorsName %></td>
</tr>
<tr>
    <td>createTimestamp</td>
    <td><%= @account.createTimestamp %></td>
</tr>
<tr>
    <td>authTimestamp</td>
    <td><%= @account.authTimestamp %></td>
</tr>
<tr>
    <td>pwdChangedTime</td>
    <td><%= (@account.respond_to? :pwdChangedTime) ? @account.pwdChangedTime : "<b>BAD USR NEVAR CHANGED PAZZWORDZ!!111!</b>".html_safe %></td<>
</tr>
<tr>
    <td>modifiersName</td>
    <td><%= @account.modifiersName %></td>
</tr>
<tr>
    <td>modifyTimestamp</td>
    <td><%= @account.modifyTimestamp %></td>
</tr>
<% end %>
<%= render partial: 'panelend'%>
<% if current_user_admin %>
<%= link_to 'Change Password', password_account_path(@account.dn), class: "btn btn-lg btn-primary" %>
<%= link_to 'Edit Account', edit_account_path(@account.dn), class: "btn btn-lg btn-primary" %>
<%= link_to 'Delete Account', delete_account_path(@account.dn), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: 'Are you sure?' } %>
<% else %>
<%= link_to 'Change Password', password_profile_path, class: "btn btn-lg btn-primary" %>
<% end %>
