<% if current_user_admin %>
<%= render partial: 'panelstart', locals: {title: @alias.dn, type: "info" }%>
<% else %>
<%= render partial: 'panelstart', locals: {title: @alias.uid, type: "info" }%>
<% end %>
<tr>
    <td>Alias</td>
    <td><%= @alias.uid %></td>
</tr>
<tr>
    <td>ForwardTo</td>
    <td><%= @alias.forwardTo %></td>
</tr>
<% if current_user_admin %>
<tr>
    <td>creatorsName</td>
    <td><%= @alias.creatorsName %></td>
</tr>
<tr>
    <td>createTimestamp</td>
    <td><%= @alias.createTimestamp %></td>
</tr>
<tr>
    <td>modifiersName</td>
    <td><%= @alias.modifiersName %></td>
</tr>
<tr>
    <td>modifyTimestamp</td>
    <td><%= @alias.modifyTimestamp %></td>
</tr>
<% end %>
<%= render partial: 'panelend'%>
<% if current_user_admin %>
<%= link_to 'Edit Alias', edit_alias_path(@alias), class: "btn btn-lg btn-primary" %>
<%= link_to 'Delete Alias', delete_alias_path(@alias), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: 'Are you sure?' } %>
<% end %>
