<% if current_user_admin %>
<%= render partial: 'panelstart', locals: {title: @group.dn, type: "info" }%>
<% else %>
<%= render partial: 'panelstart', locals: {title: @group.cn, type: "info" }%>
<% end %>
<tr>
    <td>Group</td>
    <td><%= @group.cn %></td>
</tr>
<tr>
    <td>Description</td>
    <td><%= @group.description %></td>
</tr>
<% if current_user_admin %>
<tr>
    <td>creatorsName</td>
    <td><%= @group.creatorsName %></td>
</tr>
<tr>
    <td>createTimestamp</td>
    <td><%= @group.createTimestamp %></td>
</tr>
<tr>
    <td>members</td>
    <td><% @group.members.each do |a| %> <%= link_to a.uid, account_path(a.dn), title: a.dn %><% end %></td>
</tr>
<% end %>
<%= render partial: 'panelend'%>
<% if current_user_admin %>
<%= link_to 'Edit Group', edit_group_path(@group.cn), class: "btn btn-lg btn-primary" %>
<%= link_to 'Delete Group', delete_group_path(@group.cn), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: 'Are you sure?' } %>
<% else %>
    <%= link_to 'Leave Group', groupleave_profile_path(@group.cn), class: "btn btn-lg btn-danger" %>
<% end %>
