<!DOCTYPE html>
<html>
<head>
  <title>C44</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <% if current_user %>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="https://c44.org" class="navbar-brand">c44.org</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a>Logged in as <%= session[:uid] %></a></li>
                            <li><a href=/>Home</a></li>
                            <% if current_user_admin %>
                                <li><a href=/accounts>Accounts</a></li>
                                <li><a href=/groups>Groups</a></li>
                                <li><a href=/aliases>Aliases</a></li>
                            <% end %>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href=/logout>logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        <% end %>
        <% if flash[:notice] %>
            <div class="row">
                <div class="span4">
                    <div class="alert alert-warning">
                        <strong><%= flash[:notice] %></strong>
                    </div>
                </div>
            </div>
        <% end %>
        <% if flash[:alert] %>
            <div class="row">
                <div class="span4">
                    <div class="alert alert-warning">
                        <strong><%= flash[:alert] %></strong>
                    </div>
                </div>
            </div>
        <% end %>
<%= yield %>
    </div>
</body>
</html>
