<%= render partial: 'panelstart', locals: {title: @account.dn, type: "info" }%>
<%= form_for :account, url: account_path, method: :patch do |a| %>
<tr>
    <td><%= a.label :uid %></td>
    <td><%= @account.uid %><%= a.hidden_field :uid, :value => @account.uid %></td>
</tr>
<tr>
    <td><%= a.label :openPGPpublicKey %></td>
    <td><%= a.text_area :openPGPpublicKey, class: "form-control", placeholder: "openPGPpublicKey", :cols => "60", :rows => "10" %></td>
</tr>
<tr>
    <td><%= a.label :sshRSAAuthKey %></td>
    <td><%= a.text_area :sshRSAAuthKey, class: "form-control", placeholder: "ssh-rsa ..."%></td>
</tr>
<tr>
    <td><%= a.label :sshED25519AuthKey %></td>
    <td><%= a.text_field :sshED25519AuthKey, class: "form-control", placeholder: "ssh-ed25519 ..."%></td>
</tr>
<tr>
    <td><%= a.label :scramblerPublicKey %></td>
    <td><%= a.text_area :scramblerPublicKey, class: "form-control", :readonly => true%></td>
</tr>
<tr>
    <td><%= a.label :scramblerPrivateKey %></td>
    <td><%= a.text_area :scramblerPrivateKey, class: "form-control", :readonly => true%></td>
</tr>
<%= render partial: 'panelend'%>
<%= a.submit value: "Update Account", class: "btn btn-lg btn-primary" %>
<% end %>
