<table class="table table-striped">
<tr>
    <th>UID</th>
    <th>Created</th>
    <th>Last modified</th>
</tr>
<% @accounts.each do |account| %>
    <tr>
    <td><%= link_to account.uid, account_path(account.dn), title: account.dn %></td>
    <td><%= account.createTimestamp %></td>
    <td><%= account.modifyTimestamp %></td>
    </tr>
<% end %>
</table>
<%= link_to 'New Account', new_account_path, class: "btn btn-lg btn-primary btn-success" %>
