<% if @account.errors.any? %>
    <%= render partial: 'sign', locals: {type: 'danger', text: @account.errors.full_messages.to_sentence }%>
<% end %>
<%= render partial: 'panelstart', locals: {title: 'New Account', type: "success" }%>
<%= form_for :account, url: accounts_path do |a| %>
<tr>
    <td><%= a.label :uid, class: "sr-only" %></td>
    <td><%= a.text_field :uid, class: "form-control", placeholder: "Accountid", required: true %></td>
</tr>
<tr>
    <td><%= a.label :userpassword, class: "sr-only" %></td>
    <td><%= a.password_field :userpassword, class: "form-control", placeholder: "Password", required: true %></td>
</tr>
<tr>
    <td><%= a.label :userpassword_confirmation, class: "sr-only" %></td>
    <td><%= a.password_field :userpassword_confirmation, class: "form-control", placeholder: "Repeat password", required: true %></td>
</tr>
<%= render partial: 'panelend'%>
<%= a.submit value: "Add Account", class: "btn btn-lg btn-primary btn-success" %>
<% end %>
