<%= render partial: 'sign', locals: {type: 'warning', text: "Change password for '#{@account.dn}':" } %>
<%= form_for @account, url: password_account_path, html: { class: "col-sm-6 col-sm-offset-3" }  do |f| %>
    <%= f.hidden_field :uid, :value => @account.uid %>
    <%= f.label :userpassword, class: "sr-only" %>
    <%= f.password_field :userpassword, class: "form-control", placeholder: "Password", required: true %>
    <%= f.label :userpassword_confirmation, class: "sr-only" %>
    <%= f.password_field :userpassword_confirmation, class: "form-control", placeholder: "Repeat password", required: true %>
    <%= f.submit value: "Change Password", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
